# IDE/vim
.idea/
.swp
.swo
.*.swp
.*.swo
.vscode/
.vim/
/.vimrc
/.nvimrc
/.exrc
.ripgreprc
.neoconf.json
.zed/
/.ropeproject
pyrightconfig.json

# macOS specific
.DS_Store
._.DS_Store

# Serena specific
.serena
